---
title: Cashew
---
<div class="grid grid--fh">
	<!-- Sidebar start -->

	<aside class="sidebar grid__item one-quarter">
		<div class="sidebar__inner">
			<h1 class="h3 sidebar__header">Cashew</h1>
			<nav class="sidebar__nav">
				<li class="sidebar__item">
					<%= link_to "Introduction", "/index.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Application</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Colours", "/colours.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Typography", "/typography.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Buttons", "/buttons.html", :class => "sidebar__link sidebar__link--active" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Forms", "/forms.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Tables", "/tables", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Notifications", "/notifications", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Alerts", "/alerts", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Miscellaneous", "/miscellaneous", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Illustration</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Palette", "/palette.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Brushes", "/brushes.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Example Illustrations", "/example-illustrations", :class => "sidebar__link" %>
				</li>
			</nav>
		</div>
	</aside><!--
	--><div class="content grid__item three-quarters">
		<div class="content__inner">
			<h1 class="h3">Buttons</h1>
			<hr>

			<p>Buttons come in two forms: default and primary.</p>
			<h2 class="h4">Default buttons</h2>
			<p>The default buttons are for actions that are neither positive or negative, they simply complete an action. For instance, showing more recent activity on the Project Overview page.</p>
			<div class="grid grid--full">
				<h3 class="h5">Example</h3>
				<div class="grid__item one-sixth">
					<a href="#" class="btn btn-d--light">Light button</a>
					<p><code>.btn .btn-d--light</code></p>
				</div><!--
				--><div class="grid__item one-sixth">
					<a href="#" class="btn btn-d--dark">Light button</a>
					<p><code>.btn .btn-d--dark</code></p>
				</div>
			</div>
			<h2 class="h4">Primary buttons</h2>
			<p>Primary buttons are used to draw attention to primary actions, such as creating an item or applying a template. Primary buttons must use a colour from the primary palette.</p>
			<div class="grid grid--full">
				<h3 class="h5">Example</h3>
				<div class="grid__item one-sixth">
					<a href="#" class="btn btn--create">Create button</a>
					<p><code>.btn .btn--create</code></p>
				</div><!--
				--><div class="grid__item one-sixth">
					<a href="#" class="btn btn--destroy">Destroy button</a>
					<p><code>.btn .btn--destroy</code></p>
				</div>
				<div class="grid__item one-sixth">
					<a href="#" class="btn btn--neutral">Neutral button</a>
					<p><code>.btn .btn--neutral</code></p>
				</div>
			</div>
			<h2 class="h4">Button modifiers</h2>
			<p>Modifiers are used to alter shape and size, but <em>never</em> colour.</p>
			<div class="grid grid--full">
				<h3 class="h5">Example</h3>
				<div class="grid__item one-fifth">
					<a href="#" class="btn btn--create btn--s">Create button</a>
					<p><code>.btn .btn--create .btn--s</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--destroy btn--s">Destroy button</a>
					<p><code>.btn .btn--destroy .btn--s</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--neutral btn--s">Neutral button</a>
					<p><code>.btn .btn--neutral .btn--s</code></p>
				</div>
			</div>
			<div class="grid grid--full">
				<div class="grid__item one-fifth">
					<a href="#" class="btn btn--create btn--l">Create button</a>
					<p><code>.btn .btn--create .btn--l</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--destroy btn--l">Destroy button</a>
					<p><code>.btn .btn--destroy .btn--l</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--neutral btn--l">Neutral button</a>
					<p><code>.btn .btn--neutral .btn--l</code></p>
				</div>
			</div>
			<div class="grid grid--full">
				<div class="grid__item one-fifth">
					<a href="#" class="btn btn--create btn--xl">Create button</a>
					<p><code>.btn .btn--create .btn--xl</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--destroy btn--xl">Destroy button</a>
					<p><code>.btn .btn--destroy .btn--xl</code></p>
				</div><!--
				--><div class="grid__item one-fifth">
					<a href="#" class="btn btn--neutral btn--xl">Neutral button</a>
					<p><code>.btn .btn--neutral .btn--xl</code></p>
				</div>
			</div>
		</div>
	</div>

	<!-- Content end -->
</div>