---
title: Cashew
---
<div class="grid grid--fh">
	<!-- Sidebar start -->

	<aside class="sidebar grid__item one-quarter">
		<div class="sidebar__inner">
			<h1 class="h3 sidebar__header">Cashew</h1>
			<nav class="sidebar__nav">
				<li class="sidebar__item">
					<%= link_to "Introduction", "/index.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Application</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Colours", "/colours.html", :class => "sidebar__link sidebar__link--active" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Typography", "/typography.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Buttons", "/buttons.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Forms", "/forms.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Tables", "/tables", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Notifications", "/notifications", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Alerts", "/alerts", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Miscellaneous", "/miscellaneous", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Illustration</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Palette", "/palette.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Brushes", "/brushes.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Example Illustrations", "/example-illustrations", :class => "sidebar__link" %>
				</li>
			</nav>
		</div>
	</aside><!--
	--><div class="content grid__item three-quarters">
		<div class="content__inner">
			<h1 class="h3">Colours</h1>
			<hr>
			<p>GatherContent at it's heart is a platform for content-focussed collaboration, therefore we use colour sparingly across our app to avoid distracting our users.</p>
			<h2 class="h4">Neutral Palette</h2>
			<p>The use of the neutral palette throughout the app coupled with bursts of colour help catch the user's eye and draw attention to important actionables.</p>
			<div class="grid grid--full">
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #353535;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#353535</p>
						<p><strong>RGB</strong>53, 53, 53</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #656565;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#656565</p>
						<p><strong>RGB</strong>101, 101, 101</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #959595;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#959595</p>
						<p><strong>RGB</strong>149, 149, 149</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #e0e0e0;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#e0e0e0</p>
						<p><strong>RGB</strong>224, 224, 224</p>
					</div>
				</div>
			</div>
			<h2 class="h4">Primary Palette</h2>
			<p>Our primary palette is used for alerts, actions, and for anywhere across the app we may need to draw the user's attention to something doable, such as a button.</p>
			<div class="grid grid--full">
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #4B5761;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#4B5761</p>
						<p><strong>RGB</strong>74, 86, 96</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #FC5C54;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#FC5C54</p>
						<p><strong>RGB</strong>251, 92, 83</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #5FCF80;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#5FCF80</p>
						<p><strong>RGB</strong>95, 207, 128</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #3c89eb;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#3c89eb</p>
						<p><strong>RGB</strong>60, 137, 235</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #f8df6d;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#f8df6d</p>
						<p><strong>RGB</strong>248, 223, 109</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #955de8;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#955de8</p>
						<p><strong>RGB</strong>149, 93, 232</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #92714f;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#92714f</p>
						<p><strong>RGB</strong>146, 113, 79</p>
					</div>
				</div>
			</div>
			<h2 class="h4">Download</h2>
			<p>The GC Neutral and Primary Palette for Photoshop is available for download, and contains the 7 base colours as well as the neutral colours.</p>
			<p><a target="_blank" href="https://www.dropbox.com/s/s72dlez8uywvjti/GC%20Palette-PS.aco?dl=1">Download GC Neutral and Primary Palette from Dropbox →</a></p>
		</div>
	</div>

	<!-- Content end -->
</div>