---
title: Cashew
---
<div class="grid grid--fh">
	<!-- Sidebar start -->

	<aside class="sidebar grid__item one-quarter">
		<div class="sidebar__inner">
			<h1 class="h3 sidebar__header">Cashew</h1>
			<nav class="sidebar__nav">
				<li class="sidebar__item">
					<%= link_to "Introduction", "/index.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Application</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Colours", "/colours.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Typography", "/typography.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Buttons", "/buttons.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Forms", "/forms.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Tables", "/tables", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Notifications", "/notifications", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Alerts", "/alerts", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Miscellaneous", "/miscellaneous", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Illustration</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Palette", "/palette.html", :class => "sidebar__link sidebar__link--active" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Brushes", "/brushes.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Example Illustrations", "/example-illustrations", :class => "sidebar__link" %>
				</li>
			</nav>
		</div>
	</aside><!--
	--><div class="content grid__item three-quarters">
		<div class="content__inner">
			<h1 class="h3">Palette</h1>
			<hr>
			<h2 class="h4">Global Palette</h2>
			<p>We have 7 wonderful colours to use as part of our Illustration palette. These should never be deviated from.</p>
			<div class="grid grid--full">
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #4B5761;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#4B5761</p>
						<p><strong>RGB</strong>74, 86, 96</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #FC5C54;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#FC5C54</p>
						<p><strong>RGB</strong>251, 92, 83</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #5FCF80;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#5FCF80</p>
						<p><strong>RGB</strong>95, 207, 128</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #3c89eb;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#3c89eb</p>
						<p><strong>RGB</strong>60, 137, 235</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #f8df6d;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#f8df6d</p>
						<p><strong>RGB</strong>248, 223, 109</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #955de8;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#955de8</p>
						<p><strong>RGB</strong>149, 93, 232</p>
					</div>
				</div>
				<div class="colour grid__item one-eighth">
					<div class="colour__inner" style="background-color: #92714f;"></div>
					<div class="colour__info">
						<p><strong>HEX</strong>#92714f</p>
						<p><strong>RGB</strong>146, 113, 79</p>
					</div>
				</div>
			</div>
			<h2 class="h4">Secondary Palette</h2>
			<p>Our secondary palette consists of 7 colours which are opacity percentages of the global palette. Illustrations should try to use the same opacity across colours to encourage consistency.</p>
			<h2 class="h4">Download</h2>
			<p>The GC Colour Palette is available for download, and contains the 7 base colours along with their 90%-10% opacity colours.</p>
			<p><a target="_blank" href="https://www.dropbox.com/s/dl89xcrmexf95dm/GC%20Palette.ai?dl=1">Download GC Colour Palette from Dropbox →</a></p>
		</div>
	</div>

	<!-- Content end -->
</div>