---
title: Cashew
---
<div class="grid grid--fh">
	<!-- Sidebar start -->

	<aside class="sidebar grid__item one-quarter">
		<div class="sidebar__inner">
			<h1 class="h3 sidebar__header">Cashew</h1>
			<nav class="sidebar__nav">
				<li class="sidebar__item">
					<%= link_to "Introduction", "/index.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Application</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Colours", "/colours.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Typography", "/typography.html", :class => "sidebar__link sidebar__link--active" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Buttons", "/buttons.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Forms", "/forms.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Tables", "/tables", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Notifications", "/notifications", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Alerts", "/alerts", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Miscellaneous", "/miscellaneous", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<h1 class="sidebar__subheader h6">Illustration</h1>
				</li>
				<li class="sidebar__item">
					<%= link_to "Palette", "/palette.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Brushes", "/brushes.html", :class => "sidebar__link" %>
				</li>
				<li class="sidebar__item">
					<%= link_to "Example Illustrations", "/example-illustrations", :class => "sidebar__link" %>
				</li>
			</nav>
		</div>
	</aside><!--
	--><div class="content grid__item three-quarters">
		<div class="content__inner">
			<h1 class="h3">Typography</h1>
			<hr>
			<p>GatherContent uses Whitney from the folk over at <a href="http://typography.com">typography.com</a> across the marketing site and application.</p>
			<p>We don't style heading tags (<code>h1, h2, h3</code>, etc). We use classes to style headings as this makes more sense in the context of our web application due to the separation of document semantics from style.</p>
			<h2 class="h4">Headings</h2>
			<h1 class="page__headline">Page headline</h1>
			<p><code>.page__headline</code> <code>24px</code></p>
			<hr>
			<h1 class="content__headline">Content headline</h1>
			<p><code>.content__headline</code> <code>20px</code></p>
			<hr>
			<h1 class="fl-1">First-level heading</h1>
			<p><code>.fl-1</code> <code>18px</code></p>
			<hr>
			<h1 class="fl-2">Second-level heading</h1>
			<p><code>.fl-2</code> <code>16px</code></p>
			<hr>
			<h1 class="fl-3">Third-level heading</h1>
			<p><code>.fl-3</code> <code>14px</code></p>
			<hr>
			<p>This is a really whimsical paragraph</p>
			<p><code>No class needed</code></p>
			<hr>
			<p>This is a really whimsical paragraph <a href="#">with a link</a></p>
			<p><code>No class needed</code></p>
			<hr>
			<p><small>This is a really small whimsical paragraph</small></p>
			<p><code>.small</code></p>
		</div>
	</div>

	<!-- Content end -->
</div>